@import "./src/scss/vars";

.promo {
  padding-top: 45px;
  padding-bottom: 40px;

  @media screen and (max-width: 995px) {
    padding-top: 20px;
    padding-bottom: 90px;
  }

  @media screen and (max-width: 576px) {
    padding-top: 0;
    padding-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    position: relative;
    margin-bottom: 90px;

    @media screen and (max-width: 1199px) {
      column-gap: 10px;
    }

    @media screen and (max-width: 995px) {
      flex-direction: column;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 40px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 15px;
    }
  }

  &__info {
    width: 100%;
    max-width: 600px;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 1199px) {
      max-width: 540px;
    }

    @media screen and (max-width: 995px) {
      max-width: 470px;
    }

    @media screen and (max-width: 769px) {
      max-width: 100%;
      margin-bottom: 35px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    border-bottom: 3px solid $black;
    width: fit-content;
    padding-bottom: 5px;
    box-sizing: border-box;
    margin-bottom: 30px;
    text-transform: uppercase;

    @media screen and (max-width: 1199px) {
      font-size: 22px;
      margin-bottom: 27px;
    }

    @media screen and (max-width: 995px) {
      font-size: 18px;
      margin-bottom: 15px;
    }

    @media screen and (max-width: 576px) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    & span {
      display: block;

      &:nth-child(1) {
        color: #2D2D2D;
      }

      &:nth-child(2) {
        color: $white;
      }
    }
  }

  &__subtitle {
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    box-sizing: border-box;
    margin-bottom: 30px;

    @media screen and (max-width: 1199px) {
      font-size: 54px;
      margin-bottom: 27px;
    }

    @media screen and (max-width: 995px) {
      font-size: 36px;
      margin-bottom: 15px;
      max-width: 360px;
      width: 100%;
    }

    @media screen and (max-width: 769px) {
      max-width: 100%;
    }

    @media screen and (max-width: 576px) {
      font-size: 32px;
      text-align: center;
    }

    & span {
      display: block;

      &:nth-child(1) {
        color: $red;
      }

      &:nth-child(2) {
        color: $black;

      }
    }
  }

  &__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 35px;

    @media screen and (max-width: 1199px) {
      font-size: 22px;
      margin-bottom: 31px;
    }

    @media screen and (max-width: 995px) {
      font-size: 20px;
      margin-bottom: 15px;
    }

    @media screen and (max-width: 576px) {
      text-align: center;
      font-size: 18px;
    }
  }

  &__button {
    max-width: 270px;

    @media screen and (max-width: 1199px) {
      max-width: 250px;
    }

    @media screen and (max-width: 995px) {
      max-width: 220px;
    }

    @media screen and (max-width: 576px) {
      margin: 0 auto;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: 875px;
    display: flex;
    z-index: 1;

    @media screen and (max-width: 1450px) {
      max-width: 700px;
    }

    @media screen and (max-width: 1250px) {
      max-width: 650px;
    }

    @media screen and (max-width: 1199px) {
      max-width: 612px;
    }

    @media screen and (max-width: 995px) {
      max-width: 460px;
    }

    @media screen and (max-width: 768px) {
      max-width: unset;
      max-height: 400px;
      position: unset;
      transform: none;
    }

    @media screen and (max-width: 576px) {
      max-height: 300px;
    }


    & img {
      max-width: 100%;

      @media screen and (max-width: 768px) {
        object-fit: contain;
      }
    }
  }
}