@import "./src/scss/vars";

.thanks {
  padding-top: 155px;
  padding-bottom: 110px;

  @media screen and (max-width: 995px) {
    padding-top: 110px;
    padding-bottom: 70px;
  }

  @media screen and (max-width: 576px) {
    padding-top: 110px;
    padding-bottom: 95px;
  }
}